*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;

}

body{
    font-family: 'Lato', sans-serif;
    /* font-weight: 300; */
}

header{
    width: 100%;
    background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)), url(/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}



.header-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1.5rem 2rem;
    box-shadow: 0px 0px 10px 1px;
    /* position: fixed; */
}

.nav-logo img{
    width: 10rem;
}

.nav-menu{
    font-size: 3rem;
    color: black; 
    padding-right: 2rem;  
}

.header-banner{
    font-size: 1.5rem;
    color: white;
    word-spacing: .4rem;
    /* opacity: 0.5; */
    /* line-height: 4rem; */
    position: absolute;
    top: 50%;
    left: 5%;
    right: 3%;
    transform: translateY(-50%);
}

.header-banner h1{
    color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.btn a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    word-spacing: 0;
    font-family: 'lato';
    font-weight: 300;
    background-color: transparent;
    padding: 0.5rem 2rem;
    border: 0.13rem solid #f98d00;
    border-radius: 2rem;
}

.btn a:hover {
    background-color:#f98d00;
}

.btn a:first-child{
    background-color: #f98d00;
}

.get-food{
    font-size: 2.3rem;
    text-align: center;
    text-transform: uppercase;
}

.container-section2{
    color: #555555;
    padding: 02rem;
    /* background-color: aqua; */
}

hr{
    width: 15%;
    margin: 2rem auto;
    background-color: #f98d00;
    height: 0.13rem;
    border: 0px;
    border-radius: 2rem;
}

.features-card {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 5rem;
    /* background-color: aquamarine; */


}

.feature-card__first{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-text{
    font-size: 1.8rem ;
    line-height: 2.5rem;
    font-weight: 300;
    text-align: center;
}



.features-card i{
    font-family: 'lato';
    font-size: 5rem;
    color: #f98d00;
    
}

h1, h2, h3, h6{
    font-family: 'latino' sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2rem;
    /* color: #555555; */
}

a{
    font-family: 'latino' sans-serif;
    font-weight: 100;
}

.card h3{
    text-transform: uppercase;
    margin: 2rem 0;
    font-size: 2rem;
    letter-spacing: 0.1rem;
}


.gallery{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 3rem;
    /* flex: 1 1 20%; */
    
}



.gallery img{
    width: 25%;
    /* height: 5rem; */
}

.steps{
    /* margin-top: 2rem; */
    padding: 2rem 0;
    text-align: center;
    letter-spacing: 0.3rem;
    background-color: #dedede;
}



.steps img{
    width: 20%;
    margin-top: 4rem;
}

.list{
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;
}

.sub-list{
    display: flex;
    text-align: justify;
    gap: 2rem;
}

 .sub-list div{
    font-size: 1.5rem;
    color: #f98d00;
    /* background-color: aqua; */
    padding: 0.5rem 1.2rem;
    border: 0.2rem solid #f98d00;
    border-radius: 50%;
    line-height: 2rem;
}

.sub-list-1::before {
    content: '1';
    font-size: 2rem;
    font-family: 'lato';
    font-weight: 300;
    color: #f98d00;
    /* background-color: aqua; */
    padding: 0.5rem 1.2rem;
    border: 0.2rem solid #f98d00;
    border-radius: 50%;
}

.sub-list-2::before {
    content: '2';
    font-size: 2rem;
    font-family: 'lato';
    font-weight: 300;
    color: #f98d00;
    /* background-color: aqua; */
    padding: 0.5rem 1.2rem;
    border: 0.2rem solid #f98d00;
    border-radius: 50%;
}

.sub-list-3::before {
    content: '3';
    font-size: 2rem;
    font-family: 'lato';
    font-weight: 300;
    color: #f98d00;
    /* background-color: aqua; */
    padding: 0.5rem 1.2rem;
    border: 0.2rem solid #f98d00;
    border-radius: 50%;
}

.sub-list p{
    color: #666666;
    line-height: 2rem;
    font-size: 1.3rem;
    letter-spacing: normal;
}

.app{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.app img{
    width: 30%;
}

.location{
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    margin-top: 2rem;
    text-align: center;
    padding: 0 2rem;
}

.city{
    text-align: justify;
    margin-top: 2rem;
}

.city img{
    width: 100%;
}

.city h6{
    margin: 1.5rem 0;
    font-size: 1.5rem;
}

.city div{
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
    font-size: 1.3rem;
    align-items: center;
}

.city i{
    font-size: 1rem;
    color: #f98d00;
    
}

.city a{
    color: #f98d00;
    font-weight: 300;
    text-decoration: none;
    /* margin-bottom: 2rem; */
}

.reviews{
    margin-top:  2rem;
    padding: 2rem;
    font-size: 1.5rem;
    font-style: italic;
    color: white;
    background-image:linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0,0.7)), url(/img/gallery/gallery-11.jpg);
    background-attachment: fixed;
}

.reviews h2{
    text-align: center;
    font-style: normal;
    letter-spacing: 0.2rem;
}

.reviews img{
    width: 10%;
    border-radius: 50%;
}

.customer{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 2rem 0;
}

/* =====Packages section======= */

.section-packages{
    padding:5rem  1rem;
   
    padding-bottom: 5rem;
    background-color: rgb(213, 207, 207);
    

}

.section-packages-headings{
    text-align: center;
    letter-spacing: 0.2rem;

}

.section-packages-card{
    
    background-color: white;
    box-shadow: rgb(255, 255, 255) 0px 0px 50px;
    /* background-color: aqua; */
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.section-packages-card-rate{
    background-color: white;
    padding: 1rem;
    box-shadow: rgba(0,0,0, 0.15) 0px 0px 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.section-packages-card-rate-heading{
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.section-packages-card-price{
    color: #d68821;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.section-packages-card-price span{
    font-size: 1rem;
}

.section-packages-card-details{
    padding: 1rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

}

.section-packages-card-details__list{

}

.section-packages-card-details__list{
    list-style-type: none;
    line-height: 1.8rem;
    font-size: 1.2rem;
    font-weight: 300;
}

.section-packages-card-details__list li::before{
    content: '\2713';
    color: #d68821;
    margin-right: 1rem;
}

.section-packages-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    
}

.section-packages-card-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 5rem;
}

.card-3{

}

.section-packages-card-wrapper a{
    text-decoration: none;
    color: #f98d00;
    font-size: 1.3rem;
    word-spacing: 0;
    font-family: 'lato';
    font-weight: 300;
    background-color: transparent;
    padding: 0.5rem 2rem;
    border: 0.13rem solid #f98d00;
    border-radius: 2rem;
}

.btn-1 a{
    background-color: #f98d00;
    color: white;
}

.form-wrapper{
    padding: 2rem 5rem;

}

.form-heading{
    text-align: center;
    letter-spacing: 0.2rem;
}

.form-details{
   display: flex;
   flex-direction: column;
   gap: 1.5rem;

}

.form-item{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.message{
    min-width: 20rem;
}

.form-details-title{
    margin: 1rem 0;
    font-size: 1.3rem;
    font-weight: 300;
}

input, select{
    padding: 0.5rem;
}


.newsletter{
    display: flex;
    align-items: center;
    gap: 1rem;
    
}



textarea{
    font-family: 'lato';
    font-weight: 300;
    padding: 0.5rem 1rem;
    
}

.form-submit{
    margin-top: 2rem;
}

.form-submit a{
    color: white;
    font-family: 'lato';
    font-weight: 300;
    font-size: 1.4rem;
    text-decoration: none;
    background-color: #f98d00;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
}

footer{
    background-color: #363535;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    padding: 2rem 2rem;
    /* background-color: aqua; */
    align-items: center;
    
}

.footer-nav ol{
    display: flex;
    list-style-type: none;
    gap: 2.5rem;
   
}

.footer-nav ol a{
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.3rem;
}

.footer-links{
    display: flex;
    gap: 1.5rem;
    font-size: 1.5rem;
}

.bx{
    cursor: pointer;
}

.bxl-google-plus{
    color: rgb(101, 69, 9);
}

.bxl-twitter{
    color: rgb(98, 174, 204);
}

.bxl-facebook{
    color: rgb(0, 0, 106);
}

.copyright{
    margin-top: 2rem;
    color: white;
}


@media screen and (min-width: 625px) {
    .heading{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20rem;
    
    }

    .features-card{
        flex-direction: row;
        gap: 2rem;
        /* font-size: 0.5rem; */
    }

    .gallery{
        /* height: 5rem; */
    }

    .steps-primary {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .cities{
        display:flex ;
        gap: 2rem;
    }

    .users-reviews{
        display: flex;
        gap: 2rem;
        padding: 0 5rem;
        padding: 2rem 5rem;
    }

    .section-packages-card-wrapper{
        flex-direction: row;
        justify-content: space-between;
        padding: 0 10rem;
        width: 100%;

        
    }

    .section-packages-card{
        width: 100rem;
        font-size: 1rem;
        /* text-align: center; */
        
    }

    .form-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-details{
       width: 30rem;
       display: flex;
       flex-direction: column;
       align-items: center;
       gap: 1.5rem;
        
    }

    .form-details label{
        font-size: 1.3rem;
    }

    .form-item{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }


    .newsletter{
        align-self: flex-start;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }


    
}    


    

